.container6
{
    display: flex;
    flex-direction: row;
    position:relative;
    left:200px;
    top:80px;   
    box-sizing: content-box;
    width:1000px;
    padding-top: 40px;
}

.img111
{
    padding-top: 0px;
}

.imag2
{
    position:absolute;
    left:205px;
    top:30px;
}


.col2
{
    padding-left: 60px;
}

*
{
    font-family: 'Raleway', sans-serif;
}


.w1{
    margin-top: 40px;
}

.w2{
    font-size: 15px;
}
.welcome
{
    font-weight:bolder;
    position: relative;
    bottom:10px;
}

.hello,.w1{
    font-size: 18px;
    font-weight: 600;
}

.welcome{
    font-size: 15px;
}

.w1,.w2,button
{
    padding-top:20px;
}

#phone,#pass,#pass1,#cname
{
    border: transparent;
    background: transparent;
    padding-left:10px;
    width:250px
    

}

.tel,#currency
{
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.557);
    padding: 9px;
    padding-bottom: 12px;
    margin:20px;
    margin-left:0px;
    margin-top:20px;
    width:400px;
    background: rgb(236, 235, 235);
    border-radius: 15px;
    border: transparent;

}

.prefix
{
    font-size: 14px;
    padding-left:20px;
    padding-right:20px;
    border-right: 1px solid rgb(140, 137, 137);
    
}


::placeholder
{
    font-family: 'Raleway', sans-serif;
}
button{
    align-items: center;
    border:transparent;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.557);
    padding: 10px;
    margin:20px;
    margin-left:43px;
    width:420px;
    background:rgba(191, 19, 191, 1);
    border-radius: 15px;
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    }

button img{
    position:relative;
    left:40%;
}

.account121
{
    
    
    margin-top:20px;
    padding-left: 0px;
    line-height: 28px;
    font-family: 'Raleway', sans-serif;
    font-size:14px ;
    color: rgba(0, 0, 0, 0.582);
}

.col2 #currency
{
    width:420px;
}